{% extends "base.html" %}
{% block content %}
{% load static %}

<div align='center'>
  <h1 class="display-4 fw-bold" style="color: #bb86fc;">My Achievements</h1>
  </div>

{% for skill in xyz.all %}
<div class="container col-xxl-10 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{ skill.image.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold" style="color: #bb86fc;">{{ skill.title }}</h1>
      <p class="lead">{{ skill.content }}</p>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="{{ skill.url }}">Link</a>
    </div>
  </div>
</div>
{% endfor %}

<div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'conference.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold" style="color: #bb86fc;">Presenter at SMOPS 2023 International Conference</h1>
        <p class="lead">I have really exciting news to share with you all! My research paper on Predicting Exoplanets using Artificial Intelligence got selected for a presentation at the Spacecraft Mission Operations (SMOPS 2023) International conference. It's a huge honor!
          Attending the conference has been an amazing experience. I've had the opportunity to meet scientists from ISRO, NASA, and other space agencies. We've been exchanging ideas about Spacecraft Mission Operations, and it's been so cool!
          I want to give a big shoutout to my research partner, Nidhi Shakhapur. She's been providing great partnership throughout this research journey, and I'm grateful for her support.
          I also want to thank our mentor, Dr. Leema Rose, and our SEDS VIT chairperson, Chetan Shiraguppi. They've been there for us, guiding and supporting us along the way.
          And a special thanks to my parents for always being there for me. I couldn't have done this without their moral support.
          I'm really looking forward to getting our research paper published and sharing our findings with other scientists. It's going to be great!
          Good times!</p>

      </div>
    </div>
  </div>


{% endblock %}