{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="display-4 fw-bold" style="color: #bb86fc;"><p align='center'>Your Comment is Submitted!</p></h1>
    <p class="lead" align='center'>Thank you for your response</p>
    <p align='center'>Click <a href="{% url 'home' %}"> here </a> to return home</p>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p class="mb-1" align='center'>&copy; Ravin D {% now "Y" %}</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
  {% endblock %}
