{% extends "base.html" %}
{% load static %}
{% block content %}

<body>

<div class="container">
  <main>
    <div class="py-5 text-center">
      <h1 class="display-5 fw-bold" style="color: #bb86fc;">Your Valuable Endorsements are Welcome!</h1>
      <p class="lead">Your Endorsements are stored in our database and can be seen on my LinkedIn</p>
    </div>

    <form action="{% url 'count' %}">
      <div class="form-floating">
        <textarea class="form-control" id="nameTextarea" name="fname"></textarea>
        <label for="nameTextarea">Your Name</label>
      </div>
      <br />
      <div class="form-floating">
        <textarea class="form-control"  id="emailTextarea" name="email"></textarea>
        <label for="emailTextarea">Email ID</label>
      </div>
      <br />
      <div class="form-floating">
        <textarea class="form-control" id="commentTextarea" name="comment"></textarea>
        <label for="commentTextarea">Please write your Endorsement Here!</label>
      </div>
      <br />
      <p align="center"><input class="btn btn-outline-secondary btn-lg px-4" type="submit" value="Submit"></p>
    </form>

    <footer class="text-muted py-5">
      <div class="container text-center">
        <br />
        <br />
        <br />
        <p class="mb-1">&copy; Abscissa91 {% now "Y" %}</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="{% static 'form-validation.js' %}"></script>
  </main>
</div>

<style>
  ::placeholder {
    color: #000 !important; /* Change to a darker color */
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000 !important;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #000 !important;
  }
</style>

</body>
{% endblock %}
