{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <br>
    <div align='center'>
        <h1 class="display-4 fw-bold" style="color: #bb86fc;">My Projects</h1>
    </div>
    <br>
    <div class='container'>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for skill in skills.all %}
            <div class="col">
                <div class="card h-100 text-white bg-dark">
                    <img src="{{ skill.image.url }}" class="card-img-top" alt="{{ skill.summary }}" loading="lazy" height='300' width='400'>
                    <div class="card-body">
                        <h5 class="card-title" style="color: #bb86fc;">{{ skill.summary }}</h5>
                        <p class="card-text">{{ skill.tech }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ skill.url }}" class="btn btn-outline-light btn-sm">Project Link</a>
                        <a href="{% url 'likecount' %}" class="btn btn-outline-light btn-sm">Endorse!</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
</body>
{% endblock content %}
