{% extends "base.html" %}
{% load static %}
{% block content %}
  
</p>
<h1 class="display-3 fw-bold" style="color: #bb86fc;"><p align='Center'>Ravin's Blog!</p></h1>
  
  <p class="lead mb-4" align='Center'>Hey Guys! <br />This is my Blog page, created on my own! Here I will post interesting updates about me and technology!</p>

{% for blog in blogs.all %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ blog.image.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold" style="color: #bb86fc;">{{ blog.title }}</h1>
        <p class="lead mb-4"><small>{{ blog.pub_date }}</small></p>
        <p class="lead mb-4">{{ blog.body }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>

{% endfor %}


  <!-- FOOTER -->
  <footer class="text-muted py-5">
    <div class="container text-center">
      <p class="float-end mb-1">
        <a href="#" class="btn btn-primary my-2">Back to top</a>
      </p>
      <p class="mb-1">&copy; Ravin D {% now "Y" %}</p>

    </div>
  </footer>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



  </body>
  {% endblock %}
